# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
lib/
public/bower_components/

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript
*.tsbuildinfo
*.tsbuildinfo.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

/node_modules/
# Yarn
yarn-error.log
.pnp.*
.pnp.js

# dotenv environment variables file
.env

# Docker Compose
docker-compose.override.yml
docker-compose.override.yml
*.env
